.address {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  /*color: #2196f3;                 Почму-то черной не становится*/
}
address {
  font-style: normal;
}
.logo1st {
  font-family: Raleway, sans-serif;
  font-style: normal; /*in default*/
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #2196f3;
}
.logo2nd {
  font-family: Raleway, sans-serif;
  /*font-style: normal;*/
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  /*color: #000000; on default*/
}
.navigation-list-link {
  font-family: Roboto;
  /*font-style: normal;*/
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
}

.navigation-list-link:hover,
.navigation-list-link:focus,
.header-tel:hover,
.header-tel:focus {
  color: #2196f3;
}
.header-tel {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
}
.hero-title {
  font-family: Roboto;
  /*font-style: normal;*/
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  /*color: #FFFFFF;*/
}
.button {
  font-family: Roboto;
  /*font-style: normal;*/
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: #2196f3;
  border-radius: 4px;
}
.vertu-header {
  font-family: Roboto;
  /*font-style: normal;*/
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}
.vertu-text {
  font-family: Roboto;
  /*font-style: normal;*/
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}
.direction-title {
  font-family: Roboto;
  /*font-style: normal;*/
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
.team-header {
  font-family: Roboto;
  /*font-style: normal;*/
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}
.team-item {
  font-family: Roboto;
  /*font-style: normal;*/
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  /* identical to box height */
  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
}
.team-spec {
  font-family: Roboto;
  /*font-style: normal;*/
  font-weight: normal;
  font-size: 16px;
  line-height: 1.19;
  /* identical to box height */
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
}
.map-address {
  font-family: Roboto;
  /*font-style: normal;*/
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff; 
  background-color: #2F303A;            /*убрать при появлениии фона*/
}
.footer-coordinates {
  font-family: Roboto;
  /*font-style: normal;*/
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  background-color: #2F303A;            /*убрать при появлениии фона*/
}
