:root {
  --primary-text-color:#757575;
  --title-text-color:#212121;
  --accent-color:#2196f3;
}
li {list-style-type: none;}
a {text-decoration: none;}
address {font-style: normal;}

.logo1st {
  font-family: Raleway, sans-serif;
  font-style: normal; /*in default*/
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}
.logo2nd {
  font-family: Raleway, sans-serif;
  /*font-style: normal;*/
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #000000;
}
.site-nav .link {
  font-family: Roboto;
  /*font-style: normal;*/
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
}
.site-nav .link.is-current{
  color:var(--accent-color);
}
.site-nav .link:hover,
.site-nav .link:focus,
.email:hover,
.email:focus,
.phone:hover,
.phone:focus {
  color: var(--accent-color);
}
.button:hover,
.button:focus {
  color: #ffffff;
  background-color: var(--accent-color);
}
.email,
.phone {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}
.hero-title {
  font-family: Roboto;
  /*font-style: normal;*/
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #2f303a; /*убрать при наложении фона*/
}
.button {
  font-family: Roboto;
  /*font-style: normal;*/
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
  /*background-color: var(--accent-color);*/
  border-radius: 4px;
}
.vertu-header {
  font-family: Roboto;
  /*font-style: normal;*/
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-text-color);
}
.vertu-text {
  font-family: Roboto;
  /*font-style: normal;*/
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
.direction-title,.team-header {
  font-family: Roboto;
  /*font-style: normal;*/
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.team-item {
  font-family: Roboto;
  /*font-style: normal;*/
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  /* identical to box height */
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}
.team-spec {
  font-family: Roboto;
  /*font-style: normal;*/
  font-weight: normal;
  font-size: 16px;
  line-height: 1.19;
  /* identical to box height */
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
.map-address {
  font-family: Roboto;
  /*font-style: normal;*/
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
  background-color: #2f303a; /*убрать при появлениии фона*/
}
.footer-coordinates {
  font-family: Roboto;
  /*font-style: normal;*/
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  background-color: #2f303a; /*убрать при появлениии фона*/
}
/*---------------------для Потрфолио---------------*/
.item-header {
  font-family: Roboto;
  /*font-style: normal;*/
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}
.them {
  font-family: Roboto;
  /*font-style: normal;*/
  font-weight: normal;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
